@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background: var(--bg-cards);
    box-shadow: 12px 12px 4px 0px rgba(0, 0, 0, 0.50);
    width: 100%;
    height: auto;
    overflow: hidden;
}

.projectCard__div--2 {
    border-radius: 0px 0px 10px 10px;
    background: linear-gradient(90deg, #0ECAE4 0%, #0E64E4 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}
.projectCard__btn {
    border: 0px;
    outline-width: 0px;
    color: var(--white);
    background: var(--body-bg-color);
    border-radius: 8px;
    padding: 6px 22px;
}
.projectCard__p {
    color: var(--white);
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 1.2px;
}
.projectCard__div--1 {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projectCard__img {
    height: 100%;
}